[Unit]
Description=Gogs server
After=mysql.service

[Service]
#Restart=always
TimeOutStartSec=10
ExecStartPre=-/usr/bin/docker kill GOGS
ExecStartPre=-/usr/bin/docker rm -f GOGS
ExecStart=/usr/bin/docker run --name GOGS --rm -p 8300:3000 -p 8322:22 -v /srv/lxc/gogs/data:/data gogs/gogs
ExecStop=/usr/bin/docker stop GOGS

[Install]
WantedBy=multi-user.target
